
body{
    background-size: cover;

}
.heading{
    width: 100%;
    font-size: 22px;
    margin: 0px;
}

.heading button{
    float: right;}

    canvas{
        border-style: dotted;
        border-width: 5px;
        border-color: aquamarine;
        border-radius: 5px;
    }


